@media only screen and (max-width: 450px) {
    .container{
    width: 400px;
    min-height: 380px;
    }
    h1{
        font-size: 15.5px;
    }
    .social-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    span{
        font-size: 10px;
    }
    input{
        border: none;
        padding: 10px 12px;
        border-radius: 5px;
        margin: 4px 0;
        width: 190px;
        background-color: #adf0d1;
    }
    button{
        color: #00203f;
        font-size: 12px;
        font-weight: bold;
        padding: 8px 30px;
        width: 150px;
        /* margin-top: 24px;
        border-radius: 50px;
        letter-spacing: 1px;
        background-color: #adf0d1;
        border: 1px solid #adf0d1;
        border-color: rgba(0, 32, 63, .45);
        transition: .2s ease-in; */
    }
}